.grid-generator-btn {
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 1.5em;
  display: flex;
}

ul.grid {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  transform: translateX(50%);
  flex-direction: column;

  li {
    padding: 0;
  }

  .list-item {
    display: flex;
    width: 100%;
  }

  .remove-button {
    cursor: pointer;
    color: red;
    width: 50px;
    display: inline-block;
  }

  .add-button {
    cursor: pointer;
    color: green;
    width: 50px;
    display: inline-block;
  }

  span.column-width {
    margin-right: 1em;
  }
}

.container-wrapper {
  max-width: 1140px;
  padding: 0 10px;
  border: 1px solid #ccc;
  margin: 15px auto 0px;

  .row {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
  }

  .container {
    padding-bottom: 20px;
  }

  .export-html-btn,
  .export-json-btn {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    outline-color: transparent;
    border: none;
    flex: 0 1 30%;
    cursor: pointer;
    width: 20%;
    outline: none;
    padding: 0.5em;
    text-transform: uppercase;

    :hover {
      background-color: #3c3b3b;
    }
  }
}
